html {
    background-color: #ececec;
}

body {                                                                       
    background-color: #adbbc6;
    font-family: 'Courier New', Courier, monospace;
    width: 900px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    border: 5px solid #ececec;
}

h1 {
    margin: 0%;
    color: darkblue;
    text-shadow: 2px 1px 1px black;
    padding: 20px ;
    font-family: cursive;
    text-align: center;
    font-size: 30px;
}

img {
    display: block;
    margin: 0% auto;
    margin-right: 20%;
}

h2 {
    margin: 0;
    padding: 20px;
    color: #668dc0;
    text-shadow: 2px 1px 1px black ;
    font-family: cursive ;
    text-align: center;
}

section{
    justify-content: center ;
}

#menu {
    padding: 0;
    margin-right: 25%;
    text-align: center;
    margin-left: 25%;
}
#menu ul {
    list-style-type: none;
    text-align: center;
    display: inline-flex;

  }
#menu li {
    list-style-type: none;
    text-align: center;
}
li{
    list-style-type: none;
}
a {
    display: flex;
    font-size: 20px;
    color: white;
    padding: 5px;
    justify-content: center;
    text-decoration: none;
}

a:hover {
    color: #4827DC;
    background: #7e7ace;
    transition: all 400ms 
}


section {
    justify-content: center;
}


table, td {
    color: black
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}

table {
    box-shadow: 0px 5px 20px 5px #8986C8;
    height: 100px;
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
    text-align: center;
}

.c1 {
    background-color: blueviolet;
}

.c2 {
    background-color: red;
}

.c3 {
    background-color: yellowgreen;
}

.c4 {
    background-color: green;
}

tr td:first-child {
    background-color: gray;
}



form {
    text-align: center;
}

#ajt {
    background-color: green;
    color: white;
}

#sup {
    background-color: red;
    color: white;
}

legend {
    color: #4827DC;
    font-size: 25px;
    font-family: OCR A Std, monospace;
}

#tableau {
    box-shadow: 0px 5px 20px 5px #8986C8;
    height: 100px;
    margin: auto;
}
